<app-navbar></app-navbar>
<div id="users">
  <div class="container-fluid">
    <div class="container">
      <div class="row">
        <div class="col md-12">
          <br />
          <div class="jumbotron p-5 mt-5">
            <div class="text-center">
              <h2>Members <b>Data </b></h2>
            </div>
            <table class="table table-hover table-dark">
              <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
              </tr>
              <!-- <tr *ngFor="let row of userProfile">
                                <td>{{row.name}}</td>
                                <td>{{row.contact}}</td>
                                <td>{{row.email}}</td>
                                <td>{{row.location}}</td>
                                <td>{{row.bio}}</td>
                            </tr> -->
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
