<app-navbar></app-navbar>
<div class="container-fluid content">
  <div class="row">
    <div class="col-md-3 sidebar">
      <app-sidebar></app-sidebar>
    </div>
    <div class="col-md-9">
      <div class="container-flud">
  <div class="row summary">
    <div class="row">
      <div class="col-md-4">
        <div class="card-body">
          <div class="product">
            <h5 class="card-title">8</h5>
            <img src="../../../assets/images/profile-removebg-preview.png" alt="" height="70px"
            />
          </div>
          <h4 class="card-text text-center">Active Members</h4>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card-body">
          <div class="product">
            <h5 class="card-title">5</h5>
            <img src="../../../assets/images/con.jpg" alt="" height="70px"/>
          </div>
          <h4 class="card-text">Total Contribution</h4>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card-body">
          <div class="product">
            <h5 class="card-title">5</h5>
            <img src="../../../assets/images/loan.jpeg" alt="" height="70px" />
          </div>
          <h4 class="card-text">Loan Products</h4>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="card-body">
          <div class="product">
            <h5 class="card-title">1</h5>
            <img src="../../../assets/images/def.png" alt="" height="70px"/>
          </div>
          <h4 class="card-text text-center">Total Defaulters</h4>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card-body">
          <div class="product">
            <h5 class="card-title">10,000</h5>
            <img src="../../../assets/images/def.png" alt="" height="70px"/>
          </div>
          <h4 class="card-text">Defaulted Amount</h4>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card-body">
          <div class="product">
            <h5 class="card-title">30,000</h5>
            <img src="../../../assets/images/loam.png" alt="" height="70px" />
          </div>
          <h4 class="card-text">Total Loan</h4>
        </div>
      </div>
    </div>
  </div>

  <div class="row ">
    <div class="col-md-6">
      <div class="card-body core">
        <h3>Chama Core Accounts</h3>
        <div class="product">
          <h5 class="card-title">Account</h5>
          <h5>Available Amount</h5>
        </div>
        <div class="product">
          <p class="card-title">54618795123</p>
          <p>1,000,000</p>
        </div>
        <div class="product">
          <p class="card-title">54618795123</p>
          <p>1,000,000</p>
        </div>
      </div>
    </div>
  </div>
</div>

    </div>
  </div>
  <!-- <app-adminregistration></app-adminregistration>
  <app-memberregistration></app-memberregistration>
  <app-login></app-login> -->
</div>
<app-footer></app-footer>
