<app-navbar></app-navbar>
<div class="container-fluid content main pt-3">
  <div class="row">
      <div class="col-md-3 sidebar">
        <app-sidebar></app-sidebar>
      </div>
      <div class="col-md-9">
        <div class="container-flud">
          <div class="row" >
            <div class="row">
              <div class="col-md-4">
                <div class="card-body">
                  <h4 class="card-text text-center">Active Members</h4>
                  <hr>
                  <div class="product">
                    <img src="../../../assets/images/activeMemebers.png" alt="" height="70px">
                    <h5 class="card-title">{{ loans['Total Members'] }}</h5>
                  </div>
                  
                </div>
              </div>
              <div class="col-md-4">
                <div class="card-body">
                  <h4 class="card-text text-center">Total Contribution</h4>
                  <hr>
                  <div class="product">
                    <img src="../../../assets/images/contributions 1.png" alt="" height="70px"/>
                    <h5 class="card-title">{{ loans['Total Contribution'] }}</h5>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card-body">
                  <h4 class="card-text text-center">Total Loan</h4>
                  <hr>
                  <div class="product">
                    <img src="../../../assets/images/totalDefaulters.png" alt="" height="70px"/>
                    <h5 class="card-title">{{ loans['Total Loan'] }}</h5>
                  </div>                  
                </div>
              </div>
            </div>
          <div class="row mt-3">
            <div class="col-md-4">
              <div class="card-body">
                <h4 class="card-text text-center">Outstanding Loan</h4>
                  <hr>
                  <div class="product">
                    <img src="../../../assets/images/loanProducts.png" alt="" height="70px" />
                    <h5 class="card-title">{{ loans['Total Outstanding Loan'] }}</h5>
                  </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card-body">
                <h4 class="card-text text-center">Total Payable Amount</h4>
                <hr>
                <div class="product">
                  <img src="../../../assets/images/totalAmount.png" alt="" height="70px"/>
                  <h5 class="card-title">{{ loans['Total Payable'] }}</h5>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card-body">
                <h4 class="card-text text-center">Total Loan Paid</h4>
                <hr>
                <div class="product">
                  <img src="../../../assets/images/totalLoans.png" alt="" height="70px"/>
                  <h5 class="card-title">{{ loans['Total Paid'] }}</h5>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row mt-3 container" >
          <div class="col-md-8">
            <div class="card core">
              <div style="background-color: #BEF7CC;">
                <h5 class="text-center">Chama Core Accounts</h5>
              </div>
              <div class="account">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Account</th>
                      <th scope="col">Native</th>
                      <th scope="col">Available Balance</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">1</th>
                      <td>126547897</td>
                      <td>savings</td>
                      <td>1,000,000</td>
                    </tr>
                    <tr>
                      <th scope="row">2</th>
                      <td>456879512</td>
                      <td>Loan Payment</td>
                      <td>48,000</td>
                    </tr>
                    <tr>
                      <th scope="row">3</th>
                      <td>456987422</td>
                      <td>Main account</td>
                      <td>4,000,000</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card-body">
              <h4 class="card-text text-center">Meetings</h4>
              <hr>
              <div class="text-center">
                <img src="../../../assets/images/meeting.png" alt="" height="136px"/>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="getDashboardInfo">
  <h2>Total Members: </h2>
  <p>Request Loan: </p>
  <!-- <p>Approved Loan: {{loans['Approved Loan'] }}</p>
  <p>Rejected Loan: {{ loans['Rejected Loan'] }}</p>
  <p>Pending loans: {{ loans['Request Loan'] }}</p>
  <p></p>
  <p></p> -->
</div>
<app-footer></app-footer>
