
<div class="container-fluid">
    <div class="row mt-4">
        <h3 class="text-center">Welcome To Harmony Sisters Management System</h3>
        <h4 class="text-center"><i>"Together we succeed"</i></h4>
    </div>
    <div class="row main">
        <div class="col-md-7">
            <img src="../../../assets/images/chamalogin.jpg" alt="" width="100%">
        </div>
        <div class="col-md-5">
            <h3 class="text-center">Sign in Form</h3>
            <form>
                <div class="mb-3">
                    <label for="InputUsername" class="form-label">Username</label>
                    <input [(ngModel)]="login.username" [ngModelOptions]="{standalone: true}" type="text" #username class="form-control" id="username" placeholder="Username">
                </div>
                <div class="mb-3">
                    <label for="InputPassword" class="form-label">Password</label>
                    <input [(ngModel)]="login.password" [ngModelOptions]="{standalone: true}" type="password" #password class="form-control" id="password" placeholder="Password">
                </div>
                <input type="submit" class="btn  btn-primary login-btn btn-sm mt-3" (click)="loginUser()" value="LOGIN">
            </form>
        </div>
    </div>
</div>
<div class="mt-4"></div>
<app-footer></app-footer>