<div class="container-fluid">
    <div class="row main">
        <div class="col-md-7">
            <img src="../../../assets/images/chamalogin.jpg" alt="" width="100%">
        </div>
        <div class="col-md-5">
            <h3 class="text-center">Sign in Form</h3>
            <form>
                <div class="mb-3">
                    <label for="InputUsername" class="form-label">Username</label>
                    <input type="text" class="form-control" id="InputUsername" placeholder="Enter your username">
                </div>
                <div class="mb-3">
                    <label for="InputPassword" class="form-label">Password</label>
                    <input type="password" class="form-control" id="InputPassword" placeholder="Enter your password">
                </div>
                <button type="submit" class="btn btn-primary">Log In</button>
            </form>
        </div>
    </div>
</div>