<!-- Sidebar -->
<nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse sdbar pt-4" style="height: 100vh;background-color: #BEF7CC;">
    <div class="position-sticky">
        <div class="list-group list-group-flush">
            <div href="#" class="list-group-item list-group-item-action py-2 ripple colorcode text-center">
                <i class="fas fa-chart-area fa-fw me-3"></i><span><img src="../../../assets/images/logo.png" height="200px" alt="logo" class="logo"></span>
            </div>
            <a href="#" class="list-group-item list-group-item-action py-2 ripple colorcode"><i
                class="fas fa-chart-line fa-fw me-3"></i>
                <span>
                    <li class="dropdown ">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Contribution
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item list-group-item list-group-item-action py-2" href="#">Monthly Contribution</a></li>
                            <li><a class="dropdown-item list-group-item list-group-item-action py-2" href="#">Merry Go Round</a></li>
                        </ul>
                    </li>
                </span>
            </a>
            <a href="#" class="list-group-item list-group-item-action py-2 ripple colorcode"><i
                class="fas fa-chart-line fa-fw me-3"></i>
                <span>
                    <li class="dropdown ">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Loan
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item list-group-item list-group-item-action py-2" href="#">Loan Request</a></li>
                            <li><a class="dropdown-item list-group-item list-group-item-action py-2" href="#">Loan Approved</a></li>
                            <li><a class="dropdown-item list-group-item list-group-item-action py-2" href="#">Loan Disapproved</a></li>
                            <li><a class="dropdown-item list-group-item list-group-item-action py-2" href="#">Loan Payment</a></li>
                            <li><a class="dropdown-item list-group-item list-group-item-action py-2" href="#">Penality Details</a></li>
                        </ul>
                    </li>
                </span>
            </a>
            <!-- <a href="#" class="list-group-item list-group-item-action py-2 ripple colorcode"><i
                class="fas fa-lock fa-fw me-3"></i><span>Transcation</span></a> -->
            <!-- <a href="#" class="list-group-item list-group-item-action py-2 ripple colorcode"><i
                class="fas fa-chart-line fa-fw me-3"></i><span>Member Statement</span></a> -->
            <a href="#" class="list-group-item list-group-item-action py-2 ripple colorcode"><i
                class="fas fa-chart-line fa-fw me-3"></i>
                <span>
                    <li class="dropdown ">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Finacial Statement
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item list-group-item list-group-item-action py-2" href="#">Trial Balance</a></li>
                            <li><a class="dropdown-item list-group-item list-group-item-action py-2" href="#">Income Statement</a></li>
                            <li><a class="dropdown-item list-group-item list-group-item-action py-2" href="#">Member Statement</a></li>
                        </ul>
                    </li>
                </span>
            </a>
            <a href="#" class="list-group-item list-group-item-action py-2 ripple colorcode"><i
                class="fas fa-chart-line fa-fw me-3"></i><span></span></a>
        </div>
    </div>
</nav>
<!-- Sidebar -->