<!-- Sidebar -->
<nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse" style="height: 85vh;background-color: #BEF7CC;">
    <div class="position-sticky">
        <div class="list-group list-group-flush">
            <a href="#" class="list-group-item list-group-item-action py-2 ripple colorcode text-center">
                <i class="fas fa-chart-area fa-fw me-3"></i><span><img src="../../../assets/images/logo.png" alt="logo" class="logo"></span>
            </a>
            <a href="" class="list-group-item list-group-item-action py-2 ripple colorcode"><i
                class="fas fa-lock fa-fw me-3"></i><span>Member Registation</span></a>
            <a href="" class="list-group-item list-group-item-action py-2 ripple colorcode"><i
                class="fas fa-chart-line fa-fw me-3"></i><span>Members Profile</span></a>
            <a href="#" class="list-group-item list-group-item-action py-2 ripple colorcode"><i
                class="fas fa-lock fa-fw me-3"></i><span>Transcation</span></a>
            <a href="#" class="list-group-item list-group-item-action py-2 ripple colorcode"><i
                class="fas fa-chart-line fa-fw me-3"></i><span>Member Statement</span></a>
            <a href="#" class="list-group-item list-group-item-action py-2 ripple colorcode"><i
                class="fas fa-chart-line fa-fw me-3"></i><span>Trial Balance</span></a>
            <a href="#" class="list-group-item list-group-item-action py-2 ripple colorcode"><i
                class="fas fa-chart-line fa-fw me-3"></i><span>Income Statement</span></a>
        </div>
    </div>
</nav>
<!-- Sidebar -->